In [1]:
dataset=[['a','b','c','d','e','f'],['g','b','c','d','e','f'],['a','h','d','e'],['a','i','j','d','f'],['j','b','b','d','k','e']]

In [2]:
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

       a      b      c     d      e      f      g      h      i      j      k
0   True   True   True  True   True   True  False  False  False  False  False
1  False   True   True  True   True   True   True  False  False  False  False
2   True  False  False  True   True  False  False   True  False  False  False
3   True  False  False  True  False   True  False  False   True   True  False
4  False   True  False  True   True  False  False  False  False   True   True

In [4]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.6)

    support   itemsets
0       0.6        (0)
1       0.6        (1)
2       1.0        (3)
3       0.8        (4)
4       0.6        (5)
5       0.6     (0, 3)
6       0.6     (1, 3)
7       0.6     (1, 4)
8       0.8     (3, 4)
9       0.6     (3, 5)
10      0.6  (1, 3, 4)

In [5]:
frequent_itemsets=apriori(df, min_support=0.6, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets

    support   itemsets
0       0.6        (a)
1       0.6        (b)
2       1.0        (d)
3       0.8        (e)
4       0.6        (f)
5       0.6     (a, d)
6       0.6     (b, d)
7       0.6     (e, b)
8       0.8     (e, d)
9       0.6     (f, d)
10      0.6  (e, b, d)

In [6]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7) # associate itemsets with confidence over 70%.

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(a),(d),0.6,1.0,0.6,1.00,1.00,0.00,inf
1,(b),(d),0.6,1.0,0.6,1.00,1.00,0.00,inf
2,(e),(b),0.8,0.6,0.6,0.75,1.25,0.12,1.6
3,(b),(e),0.6,0.8,0.6,1.00,1.25,0.12,inf
4,(e),(d),0.8,1.0,0.8,1.00,1.00,0.00,inf
5,(d),(e),1.0,0.8,0.8,0.80,1.00,0.00,1.0
6,(f),(d),0.6,1.0,0.6,1.00,1.00,0.00,inf
7,"(e, b)",(d),0.6,1.0,0.6,1.00,1.00,0.00,inf
8,"(e, d)",(b),0.8,0.6,0.6,0.75,1.25,0.12,1.6
9,"(b, d)",(e),0.6,0.8,0.6,1.00,1.25,0.12,inf
10,(e),"(b, d)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
11,(b),"(e, d)",0.6,0.8,0.6,1.00,1.25,0.12,inf

In [7]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(b),(e),0.6,0.8,0.6,1.0,1.25,0.12,inf
1,"(b, d)",(e),0.6,0.8,0.6,1.0,1.25,0.12,inf
2,(b),"(e, d)",0.6,0.8,0.6,1.0,1.25,0.12,inf